* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.instagram-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}

.instagram-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.instagram-phone img {
    height: 50rem;
}

.instagram-account {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
    min-height: 34rem;
}

.login-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid lightgrey;
}

.login-info:nth-child(1) {
    min-height: 19rem;
}

.instagram-logo {
    height: 9rem;
}

.instagram-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    height: 10rem;
    margin-bottom: 15px;
}

.instagram-login {
    background-color: #0095f6;
    color: white;
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 13px;
}

.instagram-logout {
    color: #0095f6;
}

.login-info {
    color: rgb(160, 160, 160);
}

.link {
    color: #0095f6;
    font-weight: bold;
}

.download {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
    font-weight: bold;
}

.downs {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.app-download {
    height: 100%;
    width: 100%;
    background-size: cover;
}

.app-download:nth-child(1) {
    background-image: url(../img/app-store.png);
    width: 170px;
    height: 50px;
}

.app-download:nth-child(2) {
    background-image: url(../img/google-play.png);
    width: 170px;
    height: 50px;
}

@media (max-width: 1024px) {
    .instagram-wrapper {
        width: 90%;
    }

    .downs {
        width: 120%;
    }
}

@media (max-width: 650px) {
    .instagram-wrapper {
        width: 90%;
    }

    .instagram-phone {
        display: none;
    }

    .instagram-account {
        width: 100%;
    }

    .downs {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .app-download {
        margin: 5px;
    }

    .login-info {
        border: none;
    }

    body {
        background-color: white;
    }
}
